@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Acme", sans-serif;
}

.square-box {
  background: #fff;
  border: 1px solid gray;
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  margin: 5px;
  padding: 0;
  width: 120px;
  height: 120px;
  box-shadow: 0 3px 4px rgba(0,0,0,0.2);
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  line-height: 80px;
  font-family: "Acme",sans-serif;
}

.bg-gray {
  background-color: rgb(64, 219, 217);
  color: #fff;
  border: none;
}

.square-box:focus {
  outline: none;
}

.border-row {
  clear: both;
  content: "";
  display: table;
}

.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  margin: 0 auto;
  flex-direction: row;
}
.center {
  text-align: center;
  margin: 20px auto;
}

.start-btn {
  background-color: #fff;
  border: 1px solid #cccccc;
  padding: 10px 40px;
  font-size: 20px;
  font-family: "Acme", sans-serif;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s;
}

.start-btn:focus, .start-btn:active {
  outline: none;
}